<style>
.bubble{
	transition: width 2s ease-out 0,
				height 2s ease-out 0; 
}
body{overflow:hidden}
.inner-content{
	display:none;
}
</style>
<div id="container"></div>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(document).ready(function bubbleStart(){
	var screeninfo = {
		h : $(window).height() - 50,
		w : $(window).width() - 50
	};
	var bubblePrototype = {
		color : "green",
		radius : "5px",
		X : function(){
			return Math.floor(Math.random() * screeninfo.w);
		},
		Y : function(){
			return Math.floor(Math.random() * screeninfo.h);
		},
		makeBubble : function(){
			var element = document.createElement("div"),
				innerContent = document.createElement("p"),
				text = document.createTextNode("Hola");
			innerContent.appendChild(text);
			innerContent.setAttribute("class", "inner-content"); 
			element.appendChild(innerContent);
			element.setAttribute("class", "bubble"); 
			element.setAttribute("style",
				"position: absolute; border-radius: 100%; padding:40px;" +
				"width: "             + this.radius    +  "px ;" + 
				"height: "            + this.radius    +  "px ;" + 
				"background-color: "  + this.color     +  " ;" + 
				"top: "               + this.Y()       +  "px ;" + 
				"left: "              + this.X()       +  "px ;"
			);
			document.getElementById('container').appendChild(element);
		}
	};

	function Bubble (color, radius) {
		this.color = color;
		this.radius = radius;	
	}

	Bubble.prototype = bubblePrototype;
	function randomise(floor){
		return Math.floor(Math.random() * floor);
	}
	function randomColor(){
		var r = randomise(255),
			g = randomise(255),
			b = randomise(255);
		return "rgb(" + 
				r + "," +
				g + "," +
				b + ")";
	}
	function randomSize(){
		s = randomise(30) + 10;
		return s;
	}	
	function makeBubbles(n){
		for (var b = 0; b < n; b++) {
			var bub = new Bubble(randomColor(), randomSize());
			bub.makeBubble();
		};
	};
	makeBubbles(5);

	
	
	
	$(document).ready(function(){
		// add a click event to all bubbles to change the bubble size
		$('.bubble').click( function() { 
			$(".inner-content", this).toggle();
			var s = randomise(80);
			$(this).css( { 
				width: s + 'px',
				height: s + 'px'
			} );
			$(this).stop();
			animateDiv( $(this) );
		} );
		// set each bubble in motion toward a random point on the screen
		// using a recursive call, set the bubble off again once it arrives
		$('.bubble').each(function(){
			animateDiv( $(this) );
		});
		
	});

	function makeNewPosition(){
		var nh = Math.floor(Math.random() * screeninfo.h),
			nw = Math.floor(Math.random() * screeninfo.w);
		return [nh,nw];
	}

	function animateDiv(bubble){
		var newq = makeNewPosition(),
			oldq = bubble.offset(),
			speed = calcSpeed([oldq.top, oldq.left], newq);
		bubble.animate(
			{ top: newq[0], left: newq[1] }, 
			speed,
			"easeOutQuint",
			function(){animateDiv(bubble)}
		);
	}

	function calcSpeed(prev, next) {
		var x = Math.abs(prev[1] - next[1]),
			y = Math.abs(prev[0] - next[0]),
			greatest = x > y ? x : y,
			speedModifier = 0.03,
			speed = Math.ceil(greatest/speedModifier);
		return speed;
	}
});

</script>
