<h1>Listing bubbles</h1>

<table class="table table-hover table-striped">
	<thead>
	  <tr>
		<th>Bubble name</th>
		<th>Thought</th>
		<th>Link</th>
	  </tr>
	</thead>
	<tbody>
	<% @bubbles.each do |bubble| %>
	  <tr>
		<td><%= bubble.bubble_name %></td>
		<td><%= bubble.thought %></td>
		<td><%= bubble.link %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Bubble', new_bubble_path %>
