<div class="header">
	<%= image_tag("logo-w-300.png", :alt=>"Thought Bubbles") %>
</div>
<div id="newbub">
	<h3>Make your own bubble</h3>
	<%= render "form" %>
</div>
<div id="notices"></div>
<div id="menu">
	<a href="#" id="newlink" ><%= image_tag('refresh.png') %></a>
	<h3>Get new bubbles</h3>
</div>
<div id="bubble-wrap">
	<div id="floatspace">
	</div>
</div>
<div id="overlay">
</div>
